@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Poor+Story&display=swap');

* {
    background-color: rgb(192, 211, 192);
    color: rgb(161, 161, 229);
    font-family: 'Poor Story', cursive;
    background-image: url(../images/b-space.webp);
    background-attachment: fixed;
}

/* Header and button section */
header {
    display: flex;
    justify-content: space-between;
    margin-left: 38vh;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.game-options {
    justify-items: baseline;
    margin: 4rem 2rem;
}

.game-options button {
    font-size: 2rem;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.game-options button:hover {
    transform: scale(1.4);
    transition: 300ms;
}

/* Different selections to play during combat */
.selections {
    display: flex;
    justify-content: space-around;

    max-width: 800px;
    margin: 0 auto;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    transition: 300ms;
}

.selection:hover {
        transform: scale(1.4);
}

.select-image {
    height: 3em;
    width: 3em;
    border: 2px solid #250d9e7f;
    border-radius: 50%;
}

/* Rounds */
.rounds {
    display: grid;
    justify-content: center;

    font-size: 1rem;
    text-transform: uppercase;

    max-width: 800px;
    margin: 0 auto;
}

.rounds h2 {
    border-style: solid;
    border-color: #250d9e7f;
    border-width: 0 0 2px 0;
}

.round-score {
    display: grid;
    justify-content: space-around;
}

/* Result scores */
.result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;

    max-width: 800px;
    margin: 0 auto;
}

.result h2 {
    border-style: solid;
    border-color: #250d9e7f;
    border-width: 0 0 2px 0;

}

.result-score {
    display: flex;
    justify-content: space-around;
}

/* For Javascript */
.result-selection-winner {
    opacity: 1;
    font-size: 1.5rem;
}

.result-selection {
    opacity: .5;
}

.result-selection img {
    height: 3em;
    width: 3em;
}