@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

* {
    color: whitesmoke;
    font-family: 'Poor Story', cursive;
}

body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(..//images/b-space.webp);
    background-attachment: fixed;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2rem;
}

/* Buttons for restart */
#main-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}

.game-options button {
    font-size: 2rem;
    border: none;
    border-radius: 30%;
    background: none;
    outline: none;
    cursor: pointer;
}

.game-options button:hover {
    transform: scale(1.4);
    transition: 300ms;
    background: radial-gradient(purple, #3c1563);
    box-shadow: -1px 0px 20px 8px #6033a3;
}

/* Different selections to play during combat */
.selections {
    display: flex;
    justify-content: space-around;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    transition: 300ms;
}

.selection:hover {
        transform: scale(1.1);
}

.select-image {
    height: 3em;
    width: 3em;
    border: 2px solid #250d9e7f;
    border-radius: 50%;
    background: radial-gradient(purple, #3c1563);
    box-shadow: -1px 0px 20px 8px #6033a3;
}

/* Result scores */
.result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.result h2 {
    border-style: solid;
    border-color: #250d9e7f;
    border-width: 0 0 2px 0;

}

.result-score {
    display: flex;
    justify-content: space-around;
}

/* Displaying game selections played (for Javascript) */
.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}

.result-selection {
    opacity: .5;
}

.result-selection img {
    height: 3em;
    width: 3em;
}

/* Rules pop up box (for javascript) */
#rules-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 70vh;
    text-transform: uppercase;
    padding: 50px;
    background: radial-gradient(purple, #1a4368);
    box-shadow: -1px 0px 20px 18px #6033a3;
}

.heading-button {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

.rules-visible {
    visibility: visible;
}

.rules-list {
    list-style: none;
    display: flex;
    padding: 0px;
    flex-direction: column;
}

.rules-list img {
    max-width: 100px;
    max-height: 100px;
}

/* End game popup */

#end-game {
    width: 10vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(purple, #3c1563);
    box-shadow: -1px 0px 20px 8px #6033a3;
    position: fixed;
    visibility: hidden;
    text-align: center;
    transition: 0.1s;
}

.end-game-button {
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
}

/* Footer with a link */
footer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

footer a {
    text-decoration: none;
    font-size: 2rem;
    box-shadow: -1px 0px 20px 5px #6033a3;
    letter-spacing: normal;
}

/* Media Queries max-width 380px */
@media screen and (max-width:380px) {
    header {
        font-size: 1rem;
        margin: 0;
    }

    .game-options {
        margin: 0;
        display: flex;
    }

    .game-options button {
        font-size: 1rem;
    }

    .selection {
        font-size: 1rem;
    }

    .result-selection {
        font-size: 1rem;
    }

    .rounds {
        font-size: 1rem;
    }

    .result {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
    }

    footer a {
        font-size: 1.2rem;
    }

    #rules-container {
    width: 50vw;
    height: 60vh;
    padding: 10px;
    }
    
    .heading-button {
        font-size: 1rem;
    }
    
    .rules-list img {
        max-width: 40px;
        max-height: 40px;
    }

    #end-game {
        width: 40vw;
    }
}

/* Media queries min 768px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        font-size: 2rem;
        margin: 0;
    }

    .game-options {
        margin: 0;
        display: flex;
    }

    .game-options button {
        font-size: 2rem;
    }

    .selection {
        font-size: 2.5rem;
    }

    .result-selection {
        font-size: 2rem;
    }

    .rounds {
        font-size: 1.5rem;
    }

    .result {
        font-size: 1.5rem;
    }

    #rules-container {
        width: 50vw;
        height: 60vh;
        padding: 10px;
    }
        
    .heading-button {
            font-size: 2rem;
    }
        
    .rules-list img {
        max-width: 80px;
        max-height: 80px;
    }

    #end-game {
        width: 30vw;
        height: 12vh;
    }
}

/* Media queries min 3840px */
@media screen and (min-width: 3840px) {
    header {
        font-size: 8rem;
        margin: 0;
    }

    .game-options button {
        font-size: 6rem;
    }

    .selection {
        font-size: 6rem;
    }

    .rounds {
        font-size: 4rem;
    }

    .result {
        font-size: 5rem;
    }

    footer {
        font-size: 4rem;
    }

    #rules-container {
        width: 40vw;
        height: 60vh;
        padding: 10px;
    }
        
    .heading-button {
            font-size: 5rem;
    }

    .rules-list {
            font-size: 6rem;
            margin: 0;
    }
        
    .rules-list img {
        max-width: 250px;
        max-height: 250px;
    }

    #end-game {
        width: 30vw;
        height: 25vh;
        font-size: 5rem;
    }

    .end-game-button {
        font-size: 4rem;
    }
}