@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Poor+Story&display=swap');

* {
    background-color: rgb(192, 211, 192);
    color: rgb(161, 161, 229);
    font-family: 'Poor Story', cursive;
}

/* Different selections to play during combat */
.selections {
    display: flex;
    justify-content: space-around;
    margin: 0 20em;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    transition: 300ms;
}

.selection:hover {
        transform: scale(1.4);
}

.select-image {
    height: 3em;
    width: 3em;
    border: 2px solid #3e1fa3;
    border-radius: 50%;
}

/* Result scores */
.result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.result h2 {
    border-style: solid;
    border-color: #3e1fa3;
    border-width: 0 0 2px 0;

}

.result-score {
    display: flex;
    justify-content: space-around;
}

/* For Javascript */
.result-selection-winner {
    opacity: 1;
    font-size: 1.5rem;
}

.result-selection {
    opacity: .5;
}

.result-selection img {
    height: 3em;
    width: 3em;
}